$white:       	#ffffff;
$light-white:   #f8f8f8;
$black: 				#000000;
$light-grey: 		#eeeeee;
$medium-grey: 	#cccccc;
$dark-grey: 		#aaaaaa;
$footer-black:	#343a40;
$primary: 			#1377c9;
$secondary:     #372143;
$yellow:				#f0ca4d;
$purple:				#5163C5;
$success:				#17b15c;
$danger:				#f62d51;
$light-blue:		#C6D9EF;
$grey-blue:			#54667a;
